.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.txt
*.png
*.svg
*.jpg
results/
*.docx
data/GIS_data-20240927T074221Z-001/
data/WetEagles-main/
data/Belarus/
data/elsppolesiashapes/
data/barrier_polygons/
code/selecting_monitoring_sites.R